---
import Emoji from '../old/Emoji.astro';
---

<div class='flex gap-1 items-baseline mb-20'>
  <h2 class='H1'>About Me</h2>
  <Emoji name='dino' />
</div>
<div class='space-y-4 c-gray11'>
  {
    /* <p class="">
          <strong class="fw-700">I am Web Developer and a Designer.</strong>
        </p> */
  }
  <p>
    {`I'm`} Hamid. I am a design and build web apps. Check my other works <a href='/' class='inline-block'> here.</a>
  </p>
</div>
