---
import { getCollection } from 'astro:content';

import GlobalLayout from '../../layouts/GlobalLayout.astro';
const posts = await getCollection('tips');

---

<GlobalLayout>
  <div class='max-w-page mx-auto py-8'>
    <h1 class='text-9xl fw-700 mb-32 mt-10'>Blog</h1>
    <ul class='space-y-8'>
      {
        posts.filter(post => !post.data.draft).map((post, index) => {
          return (
            <li  class='p-6 b-1 rd-xl  '>
              
              <article class="block">
                <h2 class='H2'>{post.data.title}</h2>
                <a href={`/blog/${post.slug}`} class="mt-12 inline-block af-i-ph-arrow-right btn-ghost" >Read More</a>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
</GlobalLayout>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>
