---
import GlobalLayout from '../layouts/old/GlobalLayout.astro';

import DarsoonCard from '../components/old/DarsoonCard.astro';
import DbiliaCard from '../components/old/DbiliaCard.astro';
import MomentaCard from '../components/old/MomentaCard.astro';
import Toolkit from '../components/old/Toolkit.astro';
import Intro from '../components/old/Intro.astro';
import Emoji from '../components/old/Emoji.astro';
import About from '../components/old/About.astro';
import BlogSection from '../components/old/BlogSection.astro';
import TipsSection from '../components/old/TipsSection.astro';
---

<GlobalLayout>
  <div class=''>
    <section aria-label='introduction' class='rd-xl py-8 min-h-80 max-w-page mx-auto sm:px-8 px-4'>
      <Intro />
    </section>
    <section aria-label='Works' id='works' class='mt-50 rd-xl max-w-page mx-auto'>
      <div class='flex gap-1 items-baseline sm:px-8 px-4'>
        <h2 class='H1'>Works</h2>
        <Emoji name='fire' />
      </div>
      <ul class='mt-20 space-y-12 sm:space-y-32'>
        <DarsoonCard />
        <DbiliaCard />
        <MomentaCard />
      </ul>
    </section>
    <section aria-label='Toolkit' id='toolkit' class='mt-50 rd-xl max-w-page mx-auto'>
      <Toolkit />
    </section>
    <section aria-label='Blog' id='blog' class='my-50 rd-xl'>
      <BlogSection />
    </section>
     <section aria-label='Blog' id='blog' class='my-50 rd-xl'>
      <TipsSection />
    </section>
    <section
      slot='about'
      aria-label='About me'
      id='about'
      class='my-50 rd-xl space-y-4 max-w-page mx-auto sm:px-8 px-4'
    >
      <About />
    </section>
  </div>
</GlobalLayout>

