---
import Emoji from './Emoji.astro';
---

<div class='flex gap-1 items-baseline mb-20'>
  <h2 class='H1'>About Me</h2>
  <Emoji name='dino' />
</div>
<div class='space-y-4 c-gray11'>
  {
    /* <p class="">
          <strong class="fw-700">I am Web Developer and a Designer.</strong>
        </p> */
  }
  <p>Hi again! Thank you for reading this far!</p>
  <p>
    {`I'm`} Hamid. I design and develop web apps. I was a designer for 5 years. you can check some of my design works in
    <a href='https://dribbble.com/hamidkdesign'> my dribble</a>. During the pandemic, I went to{' '}
    <a href='https://concordiabootcamps.ca/'>Concordia Bootcamps.</a> Now, {`I'm`} a Web Developer and a Designer.
  </p>
  <p>
    Currently, I am obsessed with Design Systems and bridging the gap between Design and Development. I am planning to
    build a customizable and accessible Design System with modern CSS features.
  </p>
  <p>
    I do Backend and Database stuff from time to time for my freelance gigs and side projects. In the teams, however, I
    am mostly left with all the Design and Frontend tasks. Everyone seems happier this way!
  </p>
  <p>
    Besides work, I love Art and Music. In fact, I wanted to be an artist not a while back. But I have been busy
    learning web development stuff. In the future, I want to work on things that combine Art and Web Technologies
    together!
  </p>
</div>
