---
import Emoji from './Emoji.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<div class='flex gap-1 items-baseline mb-20'>
  <h2 class='H1'>Blog</h2>
  <!-- <Emoji name='dino' /> -->
</div>
<div class=' c-gray11'> 
  <ul class='flex gap-8'>
    {
      posts.map((post, index) => {
        return (
          <li class='p-8 b-1 b-gray6 rd-xl   '>
            <article class='flex flex-col gap-4 min-w-80 min-h-80'>
              <h2 class='H2'>{post.data.title}</h2>
              <time class='c-gray11 text-xs block '>{post.data.date}</time>
              <p>{post.data.subtitle}</p>
              <a
                href={`/blog/${post.slug}`}
                class='flex-self-end mt-auto mis-auto w-fit inline-block af-i-ph-arrow-right btn-ghost'
              >
                Read More
              </a>
            </article>
          </li>
        );
      })
    }
  </ul>
</div>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>
