---
import { getCollection } from 'astro:content';
import { formatTimeAgo } from '../util/formatter';
const posts = await getCollection('blog');
---

<div class='flex gap-1 items-baseline mb-20 max-w-page mx-auto sm:px-8 px-4'>
  <h2 class='H1'>Blog</h2>
  <!-- <Emoji name='dino' /> -->
</div>

<ul class='flex gap-8 c-gray11 overflow-x-auto pb-8 scroll_pranet'>
  {
    posts.map((post, index) => {
      return (
        <li class='p-8 b-1 b-gray5 rd-2xl mis_page-first-child  mis_page-last-child bg-gradient-to-r from-gray-2/50  '>
          <article class='flex flex-col gap-4 min-w-80 min-h-80'>
            <div class=''>
              <h2 class='H2'>{post.data.title}</h2>
              <p class="mt-4">{post.data.subtitle}</p>
              <time class='mt-2 c-gray11 text-xs block '>{formatTimeAgo(post.data.date)}</time>
            </div>
            <a
              href={`/blog/${post.slug}`}
              class='flex-self-end mt-auto mis-auto w-fit inline-block af-i-ph-arrow-right b-1 b-gray7 rd-xl px-12 py-3 !c-gray12 bg-gradient-to-l from-gray3 '
            >
              Read More
            </a>
          </article>
        </li>
      );
    })
  }
</ul>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>
