---
import Card from './Card.astro';
import StackLogo from './StackLogo.astro';
---

<Card
  logoSrc='/darsoon/logo.png'
  darkLogoSrc='/darsoon/logo-dark.png'
  color='c-orange-11'
  bg='bg-gradient-to-br from-orange4 via-tomato4 to-red4'
  title='DARSOON'
  href='/works/darsoon'
>
  <img
    src='/darsoon/mockup.png'
    alt=''
    class='lt-xs:static lt-xs:w-6/5 lt-xs:mis-auto lt-xs:-mt-4 lt-xs:-mb-12 lt-xs:fade-y-from-30%-to-90% xs:abs -z-1 xs:w-60 xs:right-0 xs:top-10 sm:right-0 sm:top-10 sm:w-85 md:-right-15 md:top-5 md:w-110 drop-shadow-xl'
  />
  <div class='dispaly-contents' slot='subtitle'>
    Restarting <br /> a Start-up
  </div>
  <div slot='stack' class='display-contents'>
    <StackLogo icon='i-logos-nextjs-icon' title='NEXTjs' />
    <StackLogo icon='i-logos-supabase-icon' title='Supabase' />
    <StackLogo icon='i-logos-react-query-icon' title='React Query' />
    <StackLogo icon='i-logos-unocss' title='UnoCSS' />
  </div>

  <ul slot='description'>
    <li>A Brand new website was created.</li>
    <li>+80k rows from Google Sheets to Supabase migrated</li>
    <li>+100 hours of weekly manual work automated</li>
  </ul>
</Card>
