---
import { getCollection } from 'astro:content';
import TipCard from './TipCard.astro';
const posts = await getCollection('tips');
---

<div class='flex gap-1 items-baseline mb-20 max-w-page mx-auto sm:px-8 px-4'>
  <h2 class='H1'>Tips</h2>
  <!-- <Emoji name='dino' /> -->
  
</div>
<ul class='mx-auto max-w-page  flex flex-wrap gap-4 c-gray11  pb-8 scroll_pranet'>
  {
    posts.map(async (post) => {
      const { Content, headings } = await post.render();
      console.log("🚀 ~ Content:", Content)
      return (
        <li class='    '>
          <TipCard headings={headings} title={post.data.title} slug={post.slug} />
        </li>
      );
    })
  }
</ul>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>
