---

---

<a href="/works/darsoon" class="grid">
  <div class='bg-orange6 rounded-xl p-6 flex flex-col'>
    <h3 class="text-2xl">Darsoon</h3>
    <div class='h-4'></div>
    <ul class='text-xs c-slate11'>
    <li>A Brand new website was created.</li>
    <li>+80k rows from Google Sheets to Supabase migrated</li>
    <li>+100 hours of weekly manual work automated</li>
  </ul>
  <div class='mt-auto flex gap-2'>
    <span
    class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
    >
    <span class={`inline-block i-logos-nextjs-icon `}></span>
    <span class='sr-only'>NextJS Framework</span>
  </span>
  <span
  class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
  >
  <span class={`inline-block i-logos-supabase-icon `}></span>
  <span class='sr-only'>Supabase Backend as a Service</span>
</span>
<span
class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
>
<span class={`inline-block i-logos-react-query-icon`}></span>
<span class='sr-only'>React-Query Library</span>
</span>

    <span
    class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
    >
    <span class={`inline-block i-logos-unocss `}></span>
    <span class='sr-only'>UnoCSS Library</span>
  </span>
</div>
</div>
</a>
