---

---

<a href='/works/dbilia' class='grid'>
  <div class='bg-purple3 rounded-xl p-6 flex flex-col'>
    <h3 class='text-2xl'>Dbilia</h3>
    <div class='h-4'></div>
    <ul class='text-xs c-slate11'>
      <li>Refactored +1000 LoC files with composable components</li>
      <li>Decoupled and improved new user onboarding tour</li>
      <li>Redesigned the whole UI and added Dark Mode</li>
    </ul>
    <div class='mt-auto flex gap-2'>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-react `}></span>
        <span class='sr-only'>React Framework</span>
      </span>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-sass `}></span>
        <span class='sr-only'>SASS and CSS</span>
      </span>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-figma `}></span>
        <span class='sr-only'>Fima Design Tool</span>
      </span>
      <span class='w-[2.5em] h-[2.5em] rd-full flex jc ac bg-grayA-3'>
        <img src='/sc-logo2.png' alt='Styled Components' class='w-[1.2em] h-[1.2em]' />
      </span>
    </div>
  </div>
</a>
