---

---

<div class='flex justify-center'>
  <div class='flex items-center gap-6'>
    <div>
      <img src='/profile-picture.jpg' alt='Hamid Portrait' class='w-30 rounded-full' />
    </div>
    <div class='flex gap-1 items-baseline'>
      <h1 class='H1'>
        Hi, there.
        <br />
         I&apos;m Hamid.
      </h1>
    </div>
  </div>
</div>
