---
import Emoji from './Emoji.astro';
---

<div class='mt-50'>
  <h1 class=''>
    <div class='flex gap-1 items-baseline'>
      <span class='H1 fw-900'>Hello!</span>
      <Emoji name='waving-hand' />
    </div>
    <span class='block mt-10 max-w-100  ls-tighter font-family-inter c-gray11'>I am Hamid.</span>
  </h1>
  <p class=' max-w-100 ls-tighter c-gray11'>I design and develop web apps.</p>
</div>
