---

---

<a href='/works/momenta' class='grid'>
  <div class='bg-violet3 rounded-xl p-6 flex flex-col'>
    <h3 class='text-2xl'>Momenta</h3>
    <div class='h-4'></div>
    <ul class='text-xs c-slate11'>
      <li>Ideated and created a low-fidelity prototype</li>
      <li>Created complex and performant scroll animations</li>
      <li>Delivered the whole project in 2 weeks</li>
    </ul>
    <div class='mt-auto flex gap-2'>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-nextjs-icon `}></span>
        <span class='sr-only'>NextJS Framework</span>
      </span>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-framer `}></span>
        <span class='sr-only'>Framer Motion</span>
      </span>
      <span
        class={`w-[2.5em] h-[2.5em] rd-full flex jc ac b-1.5 b-grayA-2 bg-origin-border bg-gradient-to-r from-grayA-3 to-grayA-2`}
      >
        <span class={`inline-block i-logos-figma `}></span>
        <span class='sr-only'>Figma</span>
      </span>
    </div>
  </div>
</a>
